.contact-container{
    margin-top: 50px;
    padding: 5px;
}
.text-head {
    margin-top: 58px;
    text-align: center;
}
.text-head2 {
    text-align: center;
    font-size: large;
}
.img{
    width: 500;
    height: auto;
}
.card {
    top:280px;
    width:100%;
    height:200px;
    background-color:rgba(235, 206, 19, 0.985);
}
.h2 {
    text-align: center;
}
.h3 {
    text-align: center;
}
.texth2 {
    padding-top: 50px;
    text-align: center;
}
.texth3 {
    text-align: center;
}