<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./contact.component.css">
    </head>

    <body>
        <div class="contact-container">
            <h1 class="text-head">Thitaree Nirotsilapachai</h1>
            <p class="text-head2">Email: Thitaree.bam1@gmail.com</p>
            <!-- <img src="../../img/folwer.jpg">
            <img src="../../images/bootstap.jpg" alt="bootstrap"> -->
        </div>
        <div class="card">
            <h2 class="texth2">Welcome to Angular14 Website </h2>
            <h3 class="texth3">CRUD API</h3>
        </div>
    </body>
</html>



