<!-- <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./about.component.css">
        <img src="../../img/Bootstrap_logo.png" alt="bootstrap">
    </head>

    <body>
        <h1 class="about-container">Angular 14</h1>
        <img src="../../img/Angular_full_color_logo.svg.png" alt="Angular" width="400" height="341">
        <h1 class="about-container">Bootstrap</h1>
        <img src="../../img/bootstap.jpg" alt="bootstrap" width="400" height="341">
        <img src="https://en.wikipedia.org/wiki/Bootstrap_%28front-end_framework%29#/media/File:Bootstrap_logo.svg">
        <img src="../../img/Bootstrap_logo.svg">
    </body>
</html> -->

<div>
    <h1 class="about-container">Angular 14</h1>
        <!-- <img src="../../img/Angular_full_color_logo.svg.png" alt="Angular" width="400" height="341"> -->
        <h1 class="about-container">Bootstrap</h1>
        <!-- <img src="../../img/bootstap.jpg" alt="bootstrap" width="400" height="341">
        <img src="https://en.wikipedia.org/wiki/Bootstrap_%28front-end_framework%29#/media/File:Bootstrap_logo.svg">
        <img src="../../img/Bootstrap_logo.svg">
        <img src="../../images/Bootstrap_logo.svg"> -->
        <div class="card">
            <h2 class="texth2">Welcome to Angular14 Website </h2>
            <h3 class="texth3">CRUD API</h3>
        </div>
</div>
